body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Lato", sans-serif;
  min-width: 320px;
  color: #000;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: block;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.header--background-color {
  background-image: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%), url("../img/bcg-hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}

header {
  display: flex;
  padding: 25px 0;
  justify-content: space-between;
}

.head__svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 17px;
}

.head__logo {
  position: relative;
  padding: 0 0 0 32px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 0.03em;
}

.head__list {
  display: none;
}

.head__btn {
  display: none;
}

.hero {
  padding: 46px 0 40px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.hero__title {
  font-size: 36px;
  font-weight: 700;
}

.hero__subtitle {
  display: inline-block;
  padding: 22px 0;
  font-size: 18px;
  width: 80%;
  line-height: 24px;
}

.hero__btn {
  width: 160px;
  height: 50px;
  background-color: #fff;
  border-radius: 6px;
  color: #ED4C5C;
  font-family: "Lato", sans-serif;
  transition: 250ms;
}

.hero__btn:hover,
.hero__btn:active {
  background-color: transparent;
  color: #fff;
  border: solid 1px #fff;
}

.head__burger {
  margin: 3px 0 0;
  display: block;
}

.head__burger--item {
  width: 22px;
  height: 2px;
  border-radius: 8px;
  background-color: #fff;
}

.head__burger--item2 {
  width: 22px;
  height: 2px;
  border-radius: 8px;
  background-color: #fff;
  margin: 4px 0;
}

.head__burger--item3 {
  width: 22px;
  height: 2px;
  border-radius: 8px;
  background-color: #fff;
}

.about {
  background-color: #fff;
  padding: 36px 0;
}

.about__title {
  font-weight: 600;
  line-height: 36px;
  font-size: 28px;
  text-align: center;
  text-align: start;
}

.about__desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  padding: 16px 0 9px;
}

.about__btn {
  background-color: transparent;
  font-size: 14px;
  font-weight: 400;
  color: #ED4C5C;
  padding: 0;
  transition: 250ms;
}

.about__btn:hover,
.about__btn:focus {
  text-shadow: 1px 3px 10px #8c8885;
}

.about__img {
  padding: 16px 0 0;
  margin: 0 auto;
  max-width: 100%;
  border-radius: 6px;
}

.features {
  background-color: #FAFAFA;
  padding: 65px 0;
}

.features__title {
  font-weight: 600;
  line-height: 36px;
  font-size: 28px;
  text-align: center;
}

.features__row {
  padding: 35px 0;
}

.features__img {
  border-radius: 8px;
  width: 274px;
  margin: 0 auto;
}

.features__column {
  text-align: center;
  z-index: 100;
  width: 224px;
  height: 238px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
}

.features__column--border-in {
  padding: 30px 20px 25px;
}

.features__subtitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  width: 70%;
  margin: 0 auto;
}

.features__desc {
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  padding: 20px 0 25px;
}

.features__btn {
  background-color: transparent;
  color: #ED4C5C;
  font-size: 12px;
  font-weight: 700;
}

.tech {
  padding: 36px 0;
}

.tech__title {
  font-weight: 600;
  line-height: 36px;
  font-size: 28px;
  text-align: center;
  padding: 0 0 46px;
}

.tect__column {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 255px;
  height: 226px;
  margin: 0 auto;
}

.tech__number {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  font-size: 100px;
  font-weight: 700;
  color: rgba(16, 16, 16, 0.08);
}

.tech__subtitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  padding: 129px 0 0;
}

.tech__text {
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  padding: 10px 0 0;
  width: 100%;
}

.tech__svg {
  position: absolute;
  top: 25%;
  left: calc(50% - 31px);
  width: 62px;
  height: 62px;
}

.tech__svg--size {
  left: calc(50% - 21px);
  width: 42px;
  height: 48px;
}

.focused-sec {
  padding: 36px 0;
  background-color: #ED4C5C;
}

.focused__title {
  font-weight: 600;
  line-height: 36px;
  font-size: 28px;
  text-align: center;
  color: #fff;
  text-align: start;
}

.focused__desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: #fff;
  padding: 22px 0;
}

.focused_list {
  display: flex;
  align-items: center;
}

.focused__item {
  padding-right: 20px;
}

.focused__icon:hover,
.focused__icon:focus {
  filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.3));
  transform: translateY(4px);
}

.focused__icon--google-size {
  width: 28px;
  height: 27px;
}

.focused__icon--app-store-size {
  width: 28px;
  height: 27px;
}

.focused__icon--windows-size {
  width: 22px;
  height: 25px;
}

.focused__img {
  max-width: 100%;
  border-radius: 15px;
  margin: 0 auto;
  padding: 25px 0 0;
}

footer {
  padding: 45px 0;
  background-color: #FAFAFA;
}

.foo__content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.foo__column {
  padding: 36px 0 0;
}

.foo__column:nth-child(1) {
  padding: 0;
}

.foo__title {
  padding: 0 0 18px;
  font-weight: 700;
  font-size: 18px;
}

.foo-address__location {
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  font-style: normal;
}

.foo-nav__link {
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  color: #000;
}

.foo-contact__connect {
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  color: #000;
}

.foo-contact__networks {
  display: flex;
  align-items: center;
  justify-content: center;
}

.foo-contact__link {
  padding: 0 16px 0 0;
}

.foo-contact__link:nth-child(3) {
  padding: 0;
}

@media screen and (min-width: 380px) {
  .hero__title {
    font-size: 42px;
  }

  .about__img {
    width: 350px;
  }

  .focused__img {
    width: 350px;
  }
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }

  .hero {
    padding: 53px 0 78px;
  }

  .hero__title {
    font-size: 48px;
  }

  .hero__subtitle {
    width: 72%;
    line-height: 26px;
    padding: 28px 0 32px;
  }

  .about__img {
    width: 385px;
  }

  .features__desc {
    font-size: 14px;
  }

  .tech__text {
    font-size: 14px;
  }

  .focused__img {
    width: 385px;
  }

  .foo-address__location {
    font-size: 14px;
  }

  .foo-nav__link {
    font-size: 14px;
  }

  .foo-contact__connect {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 30px;
    max-width: 708px;
  }

  .hero__title {
    font-size: 52px;
  }

  .hero__subtitle {
    font-size: 20px;
    width: 52%;
  }

  .about__title {
    font-size: 36px;
    line-height: 43px;
  }

  .about {
    padding: 65px 0;
  }

  .about__wrapp {
    display: flex;
  }

  .about__title {
    display: block;
    width: 80%;
  }

  .about__desc {
    display: block;
    width: 80%;
    padding: 20px 0 9px;
  }

  .about__img {
    width: 350px;
    height: 258px;
    padding: 0;
  }

  .features__title {
    font-size: 36px;
    line-height: 43px;
  }

  .tech__title {
    font-size: 36px;
    line-height: 43px;
  }

  .tech__row {
    justify-content: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (256px)[2];
    grid-template-columns: repeat(2, 256px);
    -ms-grid-rows: (225px)[2];
    grid-template-rows: repeat(2, 225px);
    grid-gap: 30px 90px;
    margin: 0 auto;
  }

  .tech__subtitle {
    padding: 139px 0 0;
  }

  .focused__title {
    font-size: 36px;
    line-height: 43px;
  }

  .focused-sec {
    padding: 65px 0;
  }

  .focused__wrapp {
    display: flex;
  }

  .focused__title {
    display: block;
    width: 80%;
  }

  .focused__desc {
    display: block;
    width: 80%;
    padding: 26px 0;
  }

  .focused__img {
    width: 350px;
    height: 258px;
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 964px;
  }

  header {
    padding: 38px 0;
    justify-content: space-between;
  }

  .head__svg {
    margin: 8px 0 0;
    width: 26px;
    height: 19px;
  }

  .head__logo {
    display: flex;
    font-size: 18px;
    align-items: center;
  }

  .head__list {
    display: flex;
    align-items: center;
  }

  .head__items {
    padding: 0 0 0 16px;
  }

  .head__items:nth-child(1) {
    padding: 0;
  }

  .head__link {
    position: relative;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
  }

  .head__link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10%;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 6px;
    transition: 250ms;
    transform: translateX(-100%);
    opacity: 0;
  }

  .head__link:hover::before,
  .head__link:active::before {
    transform: translateX(0%);
    opacity: 1;
  }

  .head__btn {
    display: block;
    width: 100px;
    height: 40px;
    background-color: transparent;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    font-family: "Lato", sans-serif;
    border: solid 1px #fff;
    border-radius: 6px;
    transition: 250ms;
  }

  .head__btn:active,
  .head__btn:hover {
    background-color: #fff;
    color: #ED4C5C;
    box-shadow: 3px 14px 67px -4px rgba(235, 240, 244, 0.47);
  }

  .hero {
    padding: 128px 0 142px;
  }

  .hero__title {
    font-size: 72px;
  }

  .hero__subtitle {
    font-size: 24px;
    padding: 39px 0;
  }

  .head__burger {
    display: none;
  }

  .about {
    padding: 95px 0;
  }

  .about__content {
    display: flex;
    flex-direction: column;
  }

  .about__wrapp {
    flex-direction: row;
    align-items: center;
  }

  .about__title {
    width: 100%;
  }

  .about__desc {
    display: block;
    align-items: center;
    width: 100%;
  }

  .about__img {
    position: inherit;
    padding: 0 0 0 130px;
    margin: 0;
    width: 445px;
    height: 311px;
  }

  .about__btn {
    text-align: start;
  }

  .tech {
    padding: 63px 0 104px;
  }

  .tech__title {
    padding: 0 0 56px;
  }

  .tech__text {
    width: 90%;
  }

  .tech__row {
    grid-gap: 40px 120px;
  }

  .tect__column {
    margin: 0;
  }

  .tech__svg {
    position: absolute;
    left: calc(50% - 35px);
    width: 70px;
    height: 70px;
  }

  .tech__svg--size-search {
    height: 62px;
  }

  .tech__svg--size {
    left: calc(50% - 31px);
    width: 62px;
    height: 54px;
  }

  .focused-sec {
    padding: 69px 0;
  }

  .focused__wrapp {
    flex-direction: row;
    align-items: center;
  }

  .focused__title {
    width: 90%;
  }

  .focused__desc {
    padding: 34px 0 30px;
  }

  .focused__img {
    width: 445px;
    height: 311px;
  }

  .focused__item {
    display: block;
    padding-right: 28px;
  }

  .focused__icon {
    transition: 200ms;
  }

  .focused__icon--google-size {
    width: 32px;
    height: 32px;
  }

  .focused__icon--app-store-size {
    width: 30px;
    height: 30px;
  }

  .focused__icon--windows-size {
    width: 26px;
    height: 26px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 0 80px;
    max-width: 1280px;
  }

  .header--background-color {
    height: 100vh;
  }

  .hero {
    padding: 167px 0 187px;
  }

  .hero__subtitle {
    font-size: 24px;
    padding: 39px 0;
    width: 40%;
  }

  .about__title {
    width: 80%;
  }

  .about__desc {
    width: 65%;
    padding: 34px 0 15px;
  }

  .tech__row {
    display: flex;
    grid-gap: 0 0;
  }

  .tect__column {
    margin-right: auto;
  }

  .tect__column:last-child {
    margin-right: 0;
  }

  .focused-sec {
    padding: 95px 0;
  }

  .focused__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .focused__title {
    width: 60%;
  }

  .focused__desc {
    width: 65%;
    padding: 34px 0 42px;
  }

  .focused__img {
    width: 445px;
    height: 311px;
    margin: 0;
    padding: 0 0 0 130px;
  }
}