.about {
    background-color: #fff;
    padding: 65px 0;
}
.about__title{
    @include title;
    text-align: start;
    width: 80%;
}
.about__desc{
    @include desc;
    padding: 34px 0 20px;
}
.about__link{
    font-size: 14px;
    font-weight: 400;
    color: $accent;
    transition: 250ms;
    text-align: start;
    &:hover,
    &:focus {
        text-shadow: 1px 3px 10px rgba(140, 136, 133, 1);
    }
}
.about__img{
    padding: 16px 0 0;
    margin: 0 auto;
    width: 100%;
    border-radius: 6px;
    @media screen and(min-width: 380px) {
        width: 350px;
    }
    @media screen and(min-width: 480px) {
        width: 385px;
    }
}
@media screen and(min-width: 768px) {
.about__wrapp{
    display: flex;
    align-items: center;
}
.about__desc{
    width: 80%;
}
.about__img{
    width: 350px;
    height: 258px;
    padding: 0;
    margin: 0;
}
}
@media screen and(min-width: 1024px) {
    .about {
        padding: 95px 0;
    }
    .about__content{
        width: 50%;
        padding-right: 50px;
    }
    .about__desc{
        width: 85%;
    }
}
@media screen and(min-width: 1440px){
    .about__title{
        width: 100%;
    }
    .about__desc{
        width: 72%;
     }
     .about__img{
        width: 445px;
        height: 311px;
     }
}