//  Общие стили секции

.features{
    background-color: $background-sec;
    padding: 65px 0 94px;  
}
.features__title{
    @include title;
}

//  Стили карточек

.features__list{
    margin: 38px auto 0;
}
.features__item{
    position: relative;
    text-align: center;
    justify-items: center;
    justify-content: space-between;
    width: 270px;
    margin: 0 auto;
    padding-bottom: 170px;
}
.features__img{ 
    border-radius: 8px;
    width: 270px;
    height: 174px;
}
.features__column{
    position: absolute;
    top: 32%;
    left: calc(50% - 115px);
    z-index: 5;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    width: 230px;
}
.features__subtitle{
    @include subtitle;
    display: inline-block;
    padding: 26px 0 0;
    width: 90%;
}
.features__desc{
    @include text;
    display: inline-block;
    padding: 15px 0 17px;
    width: 75%;
}

//  Стили кнопки Read More

.features__btn{
    background-color: transparent;
    color: $accent;
    font-size: 12px;
    font-weight: 700;
    margin: 0 0 18px;
    transition: 250ms;
    &:hover,
    &:focus {
        text-shadow:  1px 3px 10px rgba(140, 136, 133, 1);
    }
}

@media screen and(min-width: 380px) {
    
    .features__item{
        width: 320px;
    }

    .features__column{
        left: calc(50% - 125px);
        top: 35%;
        width: 250px;
    }
    
    .features__img{ 
        width: 320px;
        height: 214px;
    }

    .features__desc{
        width: 80%;
    }
}


@media screen and(min-width: 480px) {

     .features__list{
        margin: 63px auto 0;
    }
    
    .features__item{
        width: 350px;
    }

    .features__column{
        left: calc(50% - 146.5px);
        width: 293px;
        top: 38%;
    }
    
    .features__img{ 
        width: 350px;
        height: 250px;
    }
    .features__subtitle{
        width: 80%;
        padding: 33px 0 0;
    }
    .features__desc{
        padding: 20px 0 17px;
        width: 75%;
    }
    .features__btn{
        margin: 0 0 25px;
    }
}

@media screen and(min-width: 1024px) {
    .features{
        padding: 65px 0 124px;  
    }
    .features__list{
        margin: 63px 0 0;
        display: flex;
        justify-content: space-between;
    }
    .features__item{
        justify-items: start;
        width: 300px;
        margin: 0;
        padding-bottom: 125px;
    }
    .features__img{ 
        border-radius: 8px;
        width: 300px;
        height: 194px;
    }
    .features__column{
        top: 39%;
        left: calc(50% - 137.5px);
        width: 275px;
    }
    .features__subtitle{
        padding: 26px 0 0;
        width: 90%;
    }
    .features__desc{
        padding: 15px 0 17px;
        width: 75%;
    }
}

@media screen and(min-width: 1440px) {
    .features__item{
        width: 350px;
        padding-bottom: 100px;
    }

    .features__column{
        left: calc(50% - 146.5px);
        width: 293px;
        top: 45%;
    }
    
    .features__img{ 
        width: 350px;
        height: 250px;
    }
    .features__subtitle{
        width: 85%;
        padding: 33px 0 0;
    }
    .features__desc{
        padding: 20px 0 17px;
        width: 75%;
    }
}
