//  Общие стили секции

.features{
    background-color: $background-sec;
    padding: 65px 0 124px;
    
}
.features__title{
    @include title;
}

// Стили слайдера

.slide-container{
    width: 270px;
    height: 360px;
    margin: 0 auto;
    overflow: hidden;
 }

.slide-track{
    display: flex;
    transition: 1s;
 }

//  Стили карточек

.features__list{
    margin: 38px auto 0;
}
.features__item{
    position: relative;
    text-align: center;
    justify-items: center;
    justify-content: space-between;
    width: 270px;
    margin: 0 auto;
    }
.features__column{
    position: absolute;
    top: 60%;
    left: calc(50% - 115px);
    z-index: 100;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    width: 230px;
}

.features__img{ 
    border-radius: 8px;
    width: 270px;
    height: 174px;
}
.features__subtitle{
    @include subtitle;
    display: inline-block;
    padding: 26px 0 0;
    width: 90%;
}
.features__desc{
    @include text;
    display: inline-block;
    padding: 15px 0 17px;
    width: 75%;
}

//  Стили кнопки Read More

.features__btn{
    background-color: transparent;
    color: $accent;
    font-size: 12px;
    font-weight: 700;
    margin: 0 0 18px;
    transition: 250ms;
    &:hover,
    &:focus {
        text-shadow:  1px 3px 10px rgba(140, 136, 133, 1);
    }
}

// Стили для кнопок слайда

.slide-btn__wrapp{
    display: flex;
    justify-content: center;
}
.slide-btn{
    position: relative;
    background-color: $accent;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: 250ms;
    margin: 0 auto;
    &:hover,
    &:focus {
        box-shadow: 1px 3px 10px rgba(140, 136, 133, 1);
    }
}
.slide-btn-icon{
position: absolute;
top: calc(50% - 10px);
left: calc(50% - 10px);
}

@media screen and(min-width: 380px) {
    
    .slide-container{
        width: 320px;
        height: 380px;
     }

    //  Стили карточек
    
    .features__item{
        width: 320px;
    }

    .features__column{
        left: calc(50% - 125px);
        width: 250px;
    }
    
    .features__img{ 
        width: 320px;
        height: 214px;
    }

    .features__desc{
        width: 80%;
    }
}


@media screen and(min-width: 480px) {
    
    .slide-container{
        width: 350px;
        height: 420px;
     }

    //  Стили карточек
    
    .features__item{
        width: 350px;
    }

    .features__column{
        left: calc(50% - 146.5px);
        width: 293px;
    }
    
    .features__img{ 
        width: 350px;
        height: 250px;
    }
    .features__subtitle{
        padding: 33px 0 0;
    }
    .features__desc{
        padding: 20px 0 17px;
        width: 75%;
    }
    .features__btn{
        margin: 0 0 25px;
    }
}


