.header--background-color{
    background-image: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%), url('../img/bcg-hero.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    height: 100vh;
}

// header

.head__wrapp {
    display: flex;
    padding: 25px 0;
    justify-content: space-between;
}
.head-wrapp__logo{
    display: flex;
    align-items: center;
}
.head__svg{
    position: absolute;
    top: 0;
    left: 0;
    width: 26px;
    height: 19px;
}
.head__logo{
    display: inline-block;
    position: relative;
    padding: 0 0 0 32px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.03em;
}
.head__line {
    position: relative;
    left: calc(50% - 40%);
    width: 80%;
    height: 2px;
    border: none;
    margin: 20px 0;
    background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
}
.head__link {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    transition: 250ms;
    padding-left: 40px;
}
.head__link:hover,
.head__link:focus {
    text-shadow:  1px 3px 10px rgba(140, 136, 133, 1);
    color: $accent;
}
.head__btn{
    display: none; 
}

// hero

.hero{
    text-align: center;
    align-items: center;
    display: flex;
    height: 80%;
}
.hero__wrapp{
    margin: auto;
}
.hero__title{
    font-size: 36px;
    font-weight: 700;
    @media screen and (min-width: 380px) {
        font-size: 42px;
    }
}
.hero__subtitle{
    display: inline-block;
    padding: 26px 0 36px;
    font-size: 18px;
    font-weight: 400;
    width: 80%;
    line-height: 1.75;
}
.hero__btn{
    width: 160px;
    height: 50px;
    background-color: #fff;
    border-radius: 6px;
    color: $accent;
    font-family: 'Lato', sans-serif;
    transition: 250ms;
    &:hover,
    &:active {
        background-color: transparent;
        color: #fff;
        border: solid 1px #fff;
    }
}

@media screen and(min-width: 480px) {

    .hero__title{
        font-size: 48px;
    }
    .hero__subtitle{
        width: 72%;
        padding: 28px 0 32px;
    }
}
@media screen and(min-width: 768px) {
    .hero__wrapp{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hero__title{
        font-size: 52px;
    } 
    .hero__subtitle{
        font-size: 20px;
        padding: 39px 0;
        width: 52%;
    }
}
@media screen and(min-width: 1024px) {

.head__wrapp{
    padding: 50px 0 25px;
    align-items: center;
    justify-content: space-between; 
}

// Стилизация ссылок в  навигации

    .head__link {
        position: relative;
        display: inline-block;
        color: #fff;
        font-size: 14px;
        padding: 0 17px 0 0;
    }

    .head__link::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -15%;
        width: calc(100% - 17px);
        height: 3px;
        background-color:  #fff;
        border-radius: 6px;
        transition: 250ms;
        transform: translateX(-100%);
        opacity: 0;
    }
    .head__link:hover::before,
    .head__link:active::before {
        transform: translateX(0%);
        opacity: 1;
    }
    .head__link:hover,
    .head__link:focus {
        text-shadow: none;
        color: #fff;
    }

// Стилизация кнопки под навигацией

    .head__btn{
        display: block; 
        width: 100px;
        height: 40px;
        background-color: transparent;
        color: #fff;
        font-weight: 400;
        font-size: 14px;
        font-family: 'Lato', sans-serif;
        border: solid 1px #fff;
        border-radius: 6px;
        transition: 250ms;
        &:active,
        &:hover {
            background-color: #fff;
            color: $accent;
            -webkit-box-shadow: 3px 14px 67px -4px rgba(235, 240, 244, 0.47);
            -moz-box-shadow: 3px 14px 67px -4px rgba(235, 240, 244, 0.47);
            box-shadow: 3px 14px 67px -4px rgba(235, 240, 244, 0.47);
        }
    }

// hero

    .hero__title{
        font-size: 72px;
        
    }
    .hero__subtitle{
        font-size: 24px;
        padding: 39px 0;
    }
}

@media screen and(min-width: 1440px) {
    .head__wrapp {
        justify-content: start;
    }
    .hero__subtitle{
        width: 50%;
    }
}