// Оформление текста секции

.focused-sec{
    padding: 69px 0;
    background-color: #ED4C5C;
}
.focused__title{
    @include title;
    color: #fff;
    text-align: start;
}
.focused__desc{
    @include desc;
    color: #fff;
    padding: 26px 0;
}
.focused_list{
    display: flex;
    align-items: center;
}
.focused__item{
    padding-right: 28px;
}

// Стилизация иконок

.focused__icon{
    display: block;
    transition: 250ms;
}
.focused__icon:hover,
.focused__icon:focus {
        filter: drop-shadow( 5px 5px 3px rgba(0,0,0,.3) );
        transform: translateY(4px);
    }
.focused__icon--google-size{
    width: 32px;
    height: 32px;
}
.focused__icon--app-store-size{
    width: 30px;
    height: 30px;
}
.focused__icon--windows-size{
    width: 26px;
    height: 26px;
}

//  Фото секции

.focused__img{
    width: 100%;
    border-radius: 15px;
    margin: 0 auto;
    padding: 25px 0 0;
    @media screen and(min-width: 380px) {
        width: 350px;
    }
    @media screen and(min-width: 480px) {
        width: 385px;
    }
}

@media screen and(min-width: 768px) {
    .focused__wrapp{
        display: flex;
        align-items: center;
    }
    .focused__img{
        width: 350px;
        height: 258px;
        margin: 0;
        padding: 0;
    }
}
@media screen and(min-width: 1024px) {

    .focused__content{
        width: 50%;
        padding-right: 50px;
    }
}
@media screen and(min-width: 1440px) {
    
    .focused-sec{
        padding: 95px 0;
        }
    .focused__title{
        width: 70%;
    }
    .focused__desc{
        width: 70%;
        padding: 34px 0 42px;
        }
    .focused__img{
        width: 445px;
        height: 311px;
    }
}