.tech{
    padding: 65px 0 104px;
}
.tech__title{
    @include title;
    padding: 0 0 56px;
}
.tect__column{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 50%;
    height: 210px;
    margin: 0 auto 30px;
}
.tech__number{
    position: absolute;
    object-fit: cover;
    font-size: 100px;
    font-weight: 700;
    color:  rgba(16, 16, 16, 0.08);
}
.tech__subtitle{
    @include subtitle;
    padding: 139px 0 0;
}
.tech__text{
    @include text;
    padding: 10px 0 0;
    width: 100%;
}

// стилизация иконок
.tech__svg-cloud{
    position: absolute;
    width: 80px;
    height: 80px;
    left: calc(50% - 40px);
    top: calc(50% - 53px);
}
.tech__svg-search{
    position: absolute;
    width: 66px;
    height: 66px;
    left: calc(50% - 33px);
    top: calc(50% - 44px);
}
.tech__svg-type{
    position: absolute;
    width: 48px;
    height: 54px;
    left: calc(50% - 24px);
    top: calc(50% - 41px);
}

@media screen and(min-width:768px) {
      
    .tech__row{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
}
.tech__text{
    width: 60%;
}
}
@media screen and(min-width:1024px){
.tect__column{
    width: 35%;
    margin: 0 0 30px;
}
.tech__text{
    width: 196px;
}
}
@media screen and (min-width: 1440px) {
    .tect__column{
        width: 255px;
        margin: 0;
    }
}